<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mera.mapper.TestViewMapper">

    <sql id="criteria">
        <trim prefix="AND">
            <choose>
                <when test= "category == 'CD'.toString()">
                    api_cd like CONCAT('%', #{keyword}, '%')
                </when>
                <when test= "category == 'NM'.toString()">
                    api_nm like CONCAT('%', #{keyword}, '%')
                </when>
            </choose>
        </trim>
	</sql>

    <select id="getList"  resultType="org.mera.domain.TestViewVO">
    <![CDATA[
        SELECT stat_date, api_cd, ccm.com_cd_nm as api_nm, count(*) tot_cnt
        FROM mera_stat_info mi
            left join com_cd_mltl ccm
                on ccm.com_cd = mi.api_cd and ccm.langg_cd='CM00100002'
        WHERE stat_date >= #{startDate} and stat_date <= #{endDate}
        GROUP BY stat_date, api_cd
        ORDER BY stat_date desc, tot_cnt desc
    ]]>
    </select>

    <select id="getListWithPaging"  resultType="org.mera.domain.TestViewVO">
    <![CDATA[
        SELECT stat_date, api_cd, ccm.com_cd_nm as api_nm, count(*) tot_cnt
        FROM mera_stat_info mi
            left join com_cd_mltl ccm
                on ccm.com_cd = mi.api_cd and ccm.langg_cd='CM00100002'
        WHERE stat_date >= #{startDate} and stat_date <= #{endDate}
    ]]>        
    <include refid="criteria"></include>
    <![CDATA[
        GROUP BY stat_date, api_cd
        ORDER BY stat_date desc, tot_cnt desc
        LIMIT #{startPage}, #{amount}
    ]]>
    </select>

    <select id="getTotalCount" resultType="int">
    <![CDATA[
		SELECT count(*) FROM (SELECT count(*) 
        FROM mera_stat_info mi 
            left join com_cd_mltl ccm 
                on ccm.com_cd = mi.api_cd and ccm.langg_cd='CM00100002' 
        WHERE stat_date >= #{startDate} and stat_date <= #{endDate}
    ]]>            
    <include refid="criteria"></include>    
    <![CDATA[
        GROUP BY stat_date, api_cd) total_count
    ]]>
	</select>

</mapper>
